:root {
  --black-color: #020202;
  --white-color: #ffffff;
  --gray-color: rgba(0, 0, 0, 0.6);
  --background-color: #f3f4f6;
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  --button-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  --border: 1.5px solid #caccd0;
  --red-color: #ef4444;
  --green-color: #16a34a;;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--white-color);
    color: var(--black-color);
}

